<h2 style="text-align: center;">Name: <%= stock.stock_symbol.toUpperCase() %></h2>
<% const commaPrice = stock.price_bought.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
<p style="text-align: center;">Average Price Bought: <%= `${commaPrice}` %></p>
<% const commaShares = stock.shares_bought.toLocaleString("en-US", {maximumFractionDigits: "2"}) %>
<p style="text-align: center;"># of Shares Bought: <%= commaShares %></p>  




<div class="mx-auto btn-group text-center d-flex justify-content-center gap-3" role="group" aria-label="Vertical button group">
    <form method="GET" action="/stocks/<%=stock.id%>/update">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
        <form method="POST" action="/stocks/<%=stock.id%>/?_method=DELETE">
            <button type="submit" class="btn btn-primary">Remove</button>
        </form>
</div>