<h2 style="text-align: center;">Name: <%= stock.stock_symbol.toUpperCase() %></h2>
<p style="text-align: center;">Average Price Bought: <%= `$${stock.price_bought}` %></p>
<p style="text-align: center;"># of Shares Bought: <%= stock.shares_bought %></p>  




<div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
    <form method="GET" action="/stocks/<%=stock.id%>/update">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<p></p>
<div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
        <form method="POST" action="/stocks/<%=stock.id%>/?_method=DELETE">
            <button type="submit" class="btn btn-primary">Remove</button>
        </form>
</div>