<h1 style="text-align: center;
font-size: 50px;"><%= cryptos.name %></h1>



<div class="container mt-3" style="width: 30vw;">
    <table class="table table-dark table-striped">
        <tbody>
            <trc>
                <td class="text-primary">Symbol:</td>
                <td><%= cryptos.symbol %></td>
            </tr>
            <tr>
                <td class="text-primary">Name:</td>
                <td><%= cryptos.name %></td>
            </tr>
            <tr>
                <td class="text-primary">Exchange:</td>
                <td><%= cryptos.exchange %></td>
            </tr>
            <tr>
                <td class="text-primary">Open:</td>
                <% const openFormatted = parseFloat(cryptos.open) %>
                <td><%= openFormatted.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %></td>
            </tr>
            <tr>
                <td class="text-primary">High:</td>
                <% const highFormatted = parseFloat(cryptos.high) %>
                <td><%= highFormatted.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %></td>
            </tr>
            <tr>
                <td class="text-primary">Low:</td>
                <% const lowFormatted = parseFloat(cryptos.low) %>
                <td><%= lowFormatted.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %></td>
            </tr>
            <tr>
                <td class="text-primary">Close:</td>
                <% const closeFormatted = parseFloat(cryptos.close) %>
                <td><%= closeFormatted.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %></td>
            </tr>
            <tr>
                <td class="text-primary">Previous Close:</td>
                <% const previousFormatted = parseFloat(cryptos.previous_close) %>
                <td><%= previousFormatted.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %></td>
            </tr>
            <tr>
                <td class="text-primary">Change:</td>
                <% const change = parseFloat(cryptos.change) %>
                <td><%= change.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %></td>
            </tr>
            <tr>
                <td class="text-primary">Percent Change:</td>
                <% const percentChangeFormatted = parseFloat(cryptos.percent_change) %>
                <td><%= `${percentChangeFormatted.toLocaleString("en-US", {maximumFractionDigits: "2"})}%` %></td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
    <form method ="GET" action="/cryptos/add">
    <button type="submit" class="btn btn-primary">Add to your profile</button>
    </form>
</div>