<h3 id="myCrypto">My Crypto</h3>
<% console.log("MYCRYPTS", myCryptos) %>
<% console.log("CRYPTYEKJL", crypty) %>

<% if (crypty.length === 0) { %>
    <h2> You have no crypto!</h2>
<% } %>

<% if (crypty.length === 1) { %>
    <% myCryptos.forEach(cryptos => { %>
        <% cryptoAPI.price %>
        <% console.log("CRYPTOAPI HERE:",cryptoAPI) %>
        <% const currentPrice = cryptoAPI.price %>
        <% const roundedPrice = Number(currentPrice).toFixed(2) %>
        <% const marketValue = (roundedPrice)*(cryptos.crypto_amount_bought) %>
        <% const roundedMarketValue = Number(marketValue).toFixed(2) %>
        <% const gains = ((roundedPrice)*(cryptos.crypto_amount_bought))-((cryptos.crypto_price_bought)*(cryptos.crypto_amount_bought)) %>
        <% const roundedGains = Number(gains).toFixed(2) %>
   
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col">Amount of Crypto Bought</th>
                <th scope="col">Current Crypto Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/cryptos/<%= cryptos.id%>"><%= cryptos.crypto_symbol %></th>
                <td><%= `$${cryptos.crypto_price_bought}` %></td>
                <td><%= cryptos.crypto_amount_bought  %></td>
                <td><%= `$${roundedPrice}` %></td>
                <td><%= `$${roundedMarketValue}` %></td>
                <td><%= `$${roundedGains}` %></td>
                

              </tr>
            </tbody>
          </table>
        
<% }) %>
<%} else { %>
     <% myCryptos.forEach(cryptos => { %>
        <% cryptoAPI[cryptos.crypto_symbol].price %>
        <% console.log("CRYPTOAPI HERE:",cryptoAPI) %>
        <% cryptoAPI[cryptos.crypto_symbol].price %>
        <% const currentPrice = cryptoAPI[cryptos.crypto_symbol].price %>
        <% const roundedPrice = Number(currentPrice).toFixed(2) %>
        <% const marketValue = (roundedPrice)*(cryptos.crypto_amount_bought) %>
        <% const roundedMarketValue = Number(marketValue).toFixed(2) %>
        <% const gains = ((roundedPrice)*(cryptos.crypto_amount_bought))-((cryptos.crypto_price_bought)*(cryptos.crypto_amount_bought)) %>
        <% const roundedGains = Number(gains).toFixed(2) %>
    

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col">Amount of Crypto Bought</th>
                <th scope="col">Current Crypto Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/cryptos/<%= cryptos.id%>"><%= cryptos.crypto_symbol %></th>
                <td><%= `$${cryptos.crypto_price_bought}` %></td>
                <td><%= cryptos.crypto_amount_bought  %></td>
                <td><%= `$${roundedPrice}` %></td>
                <td><%= `$${roundedMarketValue}` %></td>
                <td><%= `$${roundedGains}` %></td>
                

              </tr>
            </tbody>
          </table>





  
    
   
   

<% }) %>
<% } %>
