<h1 id="myCrypto">My Crypto</h1>
<p style="text-align: center;">Note: StockTracker only currently supports showing 8 crypto. </p>
<% console.log("MYCRYPTS", myCryptos) %>
<% console.log("CRYPTYEKJL", crypty) %>

<% if (crypty.length === 0) { %>
    <h4 style="text-align: center;"> You have no crypto!</h4>
<% } else if (crypty.length === 1) { %>
    <% myCryptos.forEach(cryptos => { %>
        <% cryptoAPI.price %>
        <% console.log("CRYPTOAPI HERE:",cryptoAPI) %>
        <% const currentPrice = cryptoAPI.price %>
        <% const roundedPrice = parseFloat(currentPrice) %>
        <% const roundedPriceComma = roundedPrice.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const marketValue = (roundedPrice)*(cryptos.crypto_amount_bought) %>
        <% const roundedMarketValue = parseFloat(marketValue) %>
        <% const roundedMarketValueComma = roundedMarketValue.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const gains = ((roundedPrice)*(cryptos.crypto_amount_bought))-((cryptos.crypto_price_bought)*(cryptos.crypto_amount_bought)) %>
        <% const roundedGains = parseFloat(gains) %>
        <% const roundedGainsComma = roundedGains.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaPrice = cryptos.crypto_price_bought.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaShares = cryptos.crypto_amount_bought.toLocaleString() %>
   
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col">Amount of Crypto Bought</th>
                <th scope="col">Current Crypto Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/cryptos/<%= cryptos.id%>"><%= cryptos.crypto_symbol.toUpperCase() %></th>
                <td><%= `${commaPrice}` %></td>
                <td><%= `${commaShares} ${cryptos.crypto_symbol.toUpperCase()}`%></td>
                <td><%= `${roundedPriceComma}` %></td>
                <td><%= `${roundedMarketValueComma}` %></td>
                <td><%= `${roundedGainsComma}` %></td>
                

              </tr>
            </tbody>
          </table>
        
<% }) %>
<%} else if (crypty.length > 1 && crypty.length <= 8 && cryptoAPI.message == undefined ) { %>
     <% myCryptos.forEach(cryptos => { %>
        <% cryptoAPI[cryptos.crypto_symbol].price %>
        <% console.log("CRYPTOAPI HERE:",cryptoAPI) %>
        <% cryptoAPI[cryptos.crypto_symbol].price %>
        <% const currentPrice = cryptoAPI[cryptos.crypto_symbol].price %>
        <% const roundedPrice = parseFloat(currentPrice) %>
        <% const roundedPriceComma = roundedPrice.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const marketValue = (roundedPrice)*(cryptos.crypto_amount_bought) %>
        <% const roundedMarketValue = parseFloat(marketValue) %>
        <% const roundedMarketValueComma = roundedMarketValue.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const gains = ((roundedPrice)*(cryptos.crypto_amount_bought))-((cryptos.crypto_price_bought)*(cryptos.crypto_amount_bought)) %>
        <% const roundedGains = parseFloat(gains) %>
        <% const roundedGainsComma = roundedGains.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaPrice = cryptos.crypto_price_bought.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaShares = cryptos.crypto_amount_bought.toLocaleString() %>
    

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col">Amount of Crypto Bought</th>
                <th scope="col">Current Crypto Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/cryptos/<%= cryptos.id%>"><%= cryptos.crypto_symbol.toUpperCase()  %></th>
                <td><%= `${commaPrice}` %></td>
                <td><%= `${commaShares} ${cryptos.crypto_symbol.toUpperCase()}`  %></td>
                <td><%= `${roundedPriceComma}` %></td>
                <td><%= `${roundedMarketValueComma}` %></td>
                <td><%= `${roundedGainsComma}` %></td>
                

              </tr>
            </tbody>
          </table>
          <% }) %>
    <% } else {%>

        <p style="text-align: center;">If you are experiencing this page, then you must have more than 8 crypto or the API is currently handling too many requests.  Wait around a minute and refresh the page to view your crypto.</p>
     <%} %>
         
