<h3>My Crypto:</h3>
<% console.log("MYCRYPTS", myCryptos) %>
<% console.log("CRYPTYEKJL", crypty) %>

<% myCryptos.forEach(cryptos => { %>
    <% console.log("CRYPTOAPI HERE:",cryptoAPI) %>
    <% cryptoAPI[cryptos.crypto_symbol].price %>
    <% const currentPrice = cryptoAPI[cryptos.crypto_symbol].price %>
    <% const roundedPrice = Number(currentPrice).toFixed(2) %>
    <% const marketValue = (roundedPrice)*(cryptos.crypto_amount_bought) %>
    <% const roundedMarketValue = Number(marketValue).toFixed(2) %>
    <% const gains = ((roundedPrice)*(cryptos.crypto_amount_bought))-((cryptos.crypto_price_bought)*(cryptos.crypto_amount_bought)) %>
    <% const roundedGains = Number(gains).toFixed(2) %>
    
    <% console.log("CURRENTPRICE!:", roundedPrice) %>
    <h2>Name: <a href="/cryptos/<%= cryptos.id%>"><%= cryptos.crypto_symbol %></a></h2>
    <p>Average Price Bought: <%= `$${cryptos.crypto_price_bought}` %></p>
    <p>Amount of Crypto Bought: <%= cryptos.crypto_amount_bought %></p>  
    <p>Current Crypto Price: <%= roundedPrice %></p>
    <p>Market Value: <%= `$${roundedMarketValue}` %></p>
    <p>Profit/Loss: <%= `$${roundedGains}` %></p>

   

<% }) %>
