<h3>My Crypto:</h3>
<% console.log("MYCRYPTS", myCryptos) %>
<% console.log("CRYPTYEKJL", crypty) %>

<% if (crypty.length === 0) { %>
    <h2> You have no crypto!</h2>
<% } %>

<% if (crypty.length === 1) { %>
    <% myCryptos.forEach(cryptos => { %>
        <% cryptoAPI.price %>
        <% console.log("CRYPTOAPI HERE:",cryptoAPI) %>
        <% const currentPrice = cryptoAPI.price %>
        <% const roundedPrice = Number(currentPrice).toFixed(2) %>
        <% const marketValue = (roundedPrice)*(cryptos.crypto_amount_bought) %>
        <% const roundedMarketValue = Number(marketValue).toFixed(2) %>
        <% const gains = ((roundedPrice)*(cryptos.crypto_amount_bought))-((cryptos.crypto_price_bought)*(cryptos.crypto_amount_bought)) %>
        <% const roundedGains = Number(gains).toFixed(2) %>
        <h2>Name: <a href="/cryptos/<%= cryptos.id%>"><%= cryptos.crypto_symbol %></a></h2>
        <p>Average Price Bought: <%= `$${cryptos.crypto_price_bought}` %></p>
        <p>Amount of Crypto Bought: <%= cryptos.crypto_amount_bought %></p>  
        <p>Current Crypto Price: <%= roundedPrice %></p>
        <p>Market Value: <%= `$${roundedMarketValue}` %></p>
        <p>Profit/Loss: <%= `$${roundedGains}` %></p>
        
<% }) %>
<%} else { %>
     <% myCryptos.forEach(cryptos => { %>
        <% cryptoAPI[cryptos.crypto_symbol].price %>
        <% console.log("CRYPTOAPI HERE:",cryptoAPI) %>
        <% cryptoAPI[cryptos.crypto_symbol].price %>
        <% const currentPrice = cryptoAPI[cryptos.crypto_symbol].price %>
        <% const roundedPrice = Number(currentPrice).toFixed(2) %>
        <% const marketValue = (roundedPrice)*(cryptos.crypto_amount_bought) %>
        <% const roundedMarketValue = Number(marketValue).toFixed(2) %>
        <% const gains = ((roundedPrice)*(cryptos.crypto_amount_bought))-((cryptos.crypto_price_bought)*(cryptos.crypto_amount_bought)) %>
        <% const roundedGains = Number(gains).toFixed(2) %>
        <h2>Name: <a href="/cryptos/<%= cryptos.id%>"><%= cryptos.crypto_symbol %></a></h2>
        <p>Average Price Bought: <%= `$${cryptos.crypto_price_bought}` %></p>
        <p>Amount of Crypto Bought: <%= cryptos.crypto_amount_bought %></p>  
        <p>Current Crypto Price: <%= roundedPrice %></p>
        <p>Market Value: <%= `$${roundedMarketValue}` %></p>
        <p>Profit/Loss: <%= `$${roundedGains}` %></p>




  
    
   
   

<% }) %>
<% } %>
