<h2>Welcome to your profile <%= user.email %>! 🎉</h2>
<h3>My Stocks:</h3>

<% myStocks.forEach(stocks => { %>
    <h2>Name: <a href="/stocks/<%= stocks.id%>"><%= stocks.stock_symbol %></a></h2>
    <p>Average Price Bought: <%= `$${stocks.price_bought}` %></p>
    <p># of Shares Bought: <%= stocks.shares_bought %></p>  
    <p>Market Value: <%= `$${(stocks.shares_bought)*(stocks.price_bought)}` %></p>  

<% }) %>