<!-- shows all of user's stocks -->
<h1 id="myStocks" style="font-weight: bold;">My Stocks</h1>
<p style="text-align: center;">Note: StockTracker currently only supports showing 8 of your stocks. </p>

<!-- checks for how many user stocks they have  -->
<% if (stocky.length === 0) { %>
  <h2 style="text-align: center;"> You have no stocks!</h2>
<% } else if (stocky.length === 1) { %>
    <% myStocks.forEach(stocks => { %>
        <% stockAPI.price %>
        <%console.log("API PRICE!!!", stockAPI.price) %>
        <% const currentPrice = stockAPI.price %>
        <% const roundedPrice = parseFloat(currentPrice) %>
        <% const roundedPriceComma = roundedPrice.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const marketValue = (roundedPrice)*(stocks.shares_bought) %>
        <% const roundedMarketValue = parseFloat(marketValue) %>
        <% const roundedMarketValueComma = roundedMarketValue.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const gains = ((roundedPrice)*(stocks.shares_bought))-((stocks.price_bought)*(stocks.shares_bought)) %>
        <% const roundedGains = parseFloat(gains) %>
        <% const roundedGainsComma = roundedGains.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaPrice = stocks.price_bought.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaShares = stocks.shares_bought.toLocaleString("en-US", {maximumFractionDigits: "2"}) %>
        <% console.log("CURRENTPRICE!:", roundedPrice) %>

        <table class="table" style="background-color: white;">
            <thead>
              <tr> 
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col"># of Shares Bought</th>
                <th scope="col">Current Stock Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/stocks/<%= stocks.id%>"><%= stocks.stock_symbol.toUpperCase() %></th>
                <td><%= `${commaPrice}` %></td>
                <td><%= commaShares %></td>
                <td><%= `${roundedPriceComma}` %></td>
                <td><%= `${roundedMarketValueComma}` %></td>
                <td><%= `${roundedGainsComma}` %></td>
                

              </tr>
            </tbody>
          </table>
    <% }) %>
<% } else if (stocky.length > 1 && stocky.length <= 8 && stockAPI.message == undefined ) { %>
        <% myStocks.forEach(stocks => { %>
          <% console.log("MULTIPLE STOCKS", stockAPI) %>
         
        <% stockAPI[stocks.stock_symbol].price %>
        <% const currentPrice = stockAPI[stocks.stock_symbol].price %>
        <% console.log("CURRENT PRICE!!!", currentPrice) %>
        <% const roundedPrice = parseFloat(currentPrice) %>
        <% const roundedPriceComma = roundedPrice.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% console.log("PRICEPRICEPRICE", typeof roundedPrice) %>
        <% const marketValue = (roundedPrice)*(stocks.shares_bought) %>
        <% const roundedMarketValue = parseFloat(marketValue) %>
        <% const roundedMarketValueComma = roundedMarketValue.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const gains = ((roundedPrice)*(stocks.shares_bought))-((stocks.price_bought)*(stocks.shares_bought)) %>
        <% const roundedGains = parseFloat(gains) %>
        <% const roundedGainsComma = roundedGains.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaPrice = stocks.price_bought.toLocaleString("en-US", {style: "currency", currency: "USD", maximumFractionDigits: "2"}) %>
        <% const commaShares = stocks.shares_bought.toLocaleString("en-US", {maximumFractionDigits: "2"}) %>
       
         <table class="table table-striped table-bordered" style="background-color: white;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col"># of Shares Bought</th>
                <th scope="col">Current Stock Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/stocks/<%= stocks.id%>"><%= stocks.stock_symbol.toUpperCase() %></th>
                <td><%= `${commaPrice}` %></td>
                <td><%= commaShares %></td>
                <td><%= `${roundedPriceComma}` %></td>
                <td><%= `${roundedMarketValueComma}` %></td>
                <td><%= `${roundedGainsComma}` %></td>
                

              </tr>
            </tbody>
          </table>

    
    <% }) %>
<% } else { %>
   <p style="text-align: center;">If you are experiencing this page, then you must have more than 8 stocks or the API is currently handling too many requests.  Wait around a minute and refresh the page to view your stocks.</p>
<%} %>
    

