<h3 id="myStocks">My Stocks</h3>


<% if (stocky.length === 0) { %>
    <h2> You have no stocks!</h2>
<% } %>
<% if (stocky.length === 1) { %>
    <% myStocks.forEach(stocks => { %>
        <% stockAPI.price %>
        <% const currentPrice = stockAPI.price.toLocaleString() %>
        <% const roundedPrice = parseFloat(currentPrice) %>
        <% const roundedPriceComma = roundedPrice.toLocaleString() %>
        <% const marketValue = (roundedPrice)*(stocks.shares_bought) %>
        <% const roundedMarketValue = parseFloat(marketValue) %>
        <% const roundedMarketValueComma = roundedMarketValue.toLocaleString() %>
        <% const gains = ((roundedPrice)*(stocks.shares_bought))-((stocks.price_bought)*(stocks.shares_bought)) %>
        <% const roundedGains = parseFloat(gains) %>
        <% const roundedGainsComma = roundedGains.toLocaleString() %>
        <% const commaPrice = stocks.price_bought.toLocaleString() %>
        <% const commaShares = stocks.shares_bought.toLocaleString() %>
        <% console.log("CURRENTPRICE!:", roundedPrice) %>

        <table class="table">
            <thead>
              <tr> 
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col"># of Shares Bought</th>
                <th scope="col">Current Stock Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/stocks/<%= stocks.id%>"><%= stocks.stock_symbol.toUpperCase() %></th>
                <td><%= `$${commaPrice}` %></td>
                <td><%= commaShares %></td>
                <td><%= `$${roundedPriceComma}` %></td>
                <td><%= `$${roundedMarketValueComma}` %></td>
                <td><%= `$${roundedGainsComma}` %></td>
                

              </tr>
            </tbody>
          </table>
    <% }) %>
<% } else { %>
        <% myStocks.forEach(stocks => { %>
        <% stockAPI[stocks.stock_symbol].price %>
        <% const currentPrice = stockAPI[stocks.stock_symbol].price %>
        <% const roundedPrice = parseFloat(currentPrice) %>
        <% const roundedPriceComma = roundedPrice.toLocaleString() %>
        <% console.log("PRICEPRICEPRICE", typeof roundedPrice) %>
        <% const marketValue = (roundedPrice)*(stocks.shares_bought) %>
        <% const roundedMarketValue = parseFloat(marketValue) %>
        <% const roundedMarketValueComma = roundedMarketValue.toLocaleString() %>
        <% const gains = ((roundedPrice)*(stocks.shares_bought))-((stocks.price_bought)*(stocks.shares_bought)) %>
        <% const roundedGains = parseFloat(gains) %>
        <% const roundedGainsComma = roundedGains.toLocaleString() %>
        <% const commaPrice = stocks.price_bought.toLocaleString() %>
        <% const commaShares = stocks.shares_bought.toLocaleString() %>
       
         <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col"># of Shares Bought</th>
                <th scope="col">Current Stock Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/stocks/<%= stocks.id%>"><%= stocks.stock_symbol.toUpperCase() %></th>
                <td><%= `$${commaPrice}` %></td>
                <td><%= commaShares %></td>
                <td><%= `$${roundedPriceComma}` %></td>
                <td><%= `$${roundedMarketValueComma}` %></td>
                <td><%= `$${roundedGainsComma}` %></td>
                

              </tr>
            </tbody>
          </table>

    
    <% }) %>
<% } %>
    

