<h3 id="myStocks">My Stocks</h3>

<% if (stocky.length === 0) { %>
    <h2> You have no stocks!</h2>
<% } %>
<% if (stocky.length === 1) { %>
    <% myStocks.forEach(stocks => { %>
        <% stockAPI.price %>
        <% const currentPrice = stockAPI.price %>
        <% const roundedPrice = Number(currentPrice).toFixed(2) %>
        <% const marketValue = (roundedPrice)*(stocks.shares_bought) %>
        <% const roundedMarketValue = Number(marketValue).toFixed(2) %>
        <% const gains = ((roundedPrice)*(stocks.shares_bought))-((stocks.price_bought)*(stocks.shares_bought)) %>
        <% const roundedGains = Number(gains).toFixed(2) %>
        <% console.log("CURRENTPRICE!:", roundedPrice) %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col"># of Shares Bought</th>
                <th scope="col">Current Stock Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/stocks/<%= stocks.id%>"><%= stocks.stock_symbol %></th>
                <td><%= `$${stocks.price_bought}` %></td>
                <td><%= stocks.shares_bought %></td>
                <td><%= `$${roundedPrice}` %></td>
                <td><%= `$${roundedMarketValue}` %></td>
                <td><%= `$${roundedGains}` %></td>
                

              </tr>
            </tbody>
          </table>
    <% }) %>
<% } else { %>
        <% myStocks.forEach(stocks => { %>
        <% stockAPI[stocks.stock_symbol].price %>
        <% const currentPrice = stockAPI[stocks.stock_symbol].price %>
        <% const roundedPrice = Number(currentPrice).toFixed(2) %>
        <% const marketValue = (roundedPrice)*(stocks.shares_bought) %>
        <% const roundedMarketValue = Number(marketValue).toFixed(2) %>
        <% const gains = ((roundedPrice)*(stocks.shares_bought))-((stocks.price_bought)*(stocks.shares_bought)) %>
        <% const roundedGains = Number(gains).toFixed(2) %>
       
         <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Average Price Bought</th>
                <th scope="col"># of Shares Bought</th>
                <th scope="col">Current Stock Price</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="/stocks/<%= stocks.id%>"><%= stocks.stock_symbol %></th>
                <td><%= `$${stocks.price_bought}` %></td>
                <td><%= stocks.shares_bought %></td>
                <td><%= `$${roundedPrice}` %></td>
                <td><%= `$${roundedMarketValue}` %></td>
                <td><%= `$${roundedGains}` %></td>
                

              </tr>
            </tbody>
          </table>

    
    <% }) %>
<% } %>
    

